body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;



}.container {
    width: 80%;
    margin: 2rem auto;
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

}
h1,
h2,
h3,
h4, 
h5,
h6 {
    margin-bottom: 1rem;
}
p {
    margin-bottom: 1rem;
}
.button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: rebeccapurple;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    transition: backgound-color 0.3s;
}
.button:hover {
    background-color: purple;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}
table,
th,
td {
    border:1px solid #ddd;
}
th,
td {
    padding: 0.5rem;
    text-align: left;
   
}
th{
    background-color: #f4f4f4;
}
.flex-item{
    border-radius: 6px;
    background-color: #0078ff;
    color: white;
    padding: 1rem;
    border-style: 4px;
    text-align: center;
    flex: 1;
    margin:  0.5rem;
}
.flex-container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}
flex-container-start{
    display: inline-flex;
    justify-content: space-between;
}

form {
    background-color: white;
    padding: 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.form-group{
    margin-bottom: 15px;
    margin-top: auto;
    font-size: 20px;
    text-align: left;

}
label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}
input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 20px;

}
input[type="text"]:focus,
input[type="email"]:focus{
    border-color: #007bff;
    outline: none;
}